<section class="about">
    <img src="/assets/images/marcelaprofile.jpg">
    <p>My name is Marcela Viola, I was born in Buenos Aires, Argentina.
    <p>I'm an Aerialist, a Yoga teacher, a designer, a perfectionist, a world traveller and a chocolate addict.
    <p>I was introduced to the aerial tissues in my early twenties and never stopped training. I also developed my skills in aerial hoop, rope, trapeze, aerial dance with harnesses, Chinese pole and aerial straps.
    <p>I've trained and performed in several places around the world, Argentina, Scotland, France, Spain, USA, and The Netherlands.
    <p>I'm an artist and I feel blessed because I love my work. I feel happy and excited each time I give birth a new piece and to perform it in front of an audience is an amazing feeling.
</section>