<div id="about" class="slide">
  <div class="title">
    <h1>People and Fitness</h1><br>
    <p>Esi had always been drawn to two things; <b>People</b> and <b>Fitness</b>. It was only natural when he decided to turn his passion into a career. Esi expanded his knowledge through a degree in Sports and Fitness Management, majoring in; Stability, Personal and Group Training for adults and kids, Injury Prevention, Weight Lifting, Advanced Functional Training and Nutrition.</p><br>
    <p>In 2012 Esi discovered the world of CrossFit, and went to get his L1 certification. He quickly became specialized in that sport and in 2014 he won Israel’s fittest man in 2013 National CrossFit and Functional Training Championship.</p><br>
    <p>Through the world of CrossFit, TRX, Swimming, Football and Yoga, Esi had developed his own new methods of Functional Training, which he has been using to train people at all levels in Israel and Austria.</p>
    <img src="assets/images/IMG_9428.JPG">
    <img src="assets/images/IMG_7444.JPG">
    <img src="assets/images/IMG_7329.JPG">
  </div>
</div>
