<div id="contact" class="slide">
  <div class="title">
    <p><a href="tel:0524500661" title="Call now to 052-450-0661"><i class="fa fa-phone"></i> Call now to 052-450-0661</a></p>
    <p><a href="https://www.linkedin.com/pub/esi-bildosola/b/112/a07"><i class="fa fa-linkedin-square"></i> linkedin.com/esi.bildosola</a>
    <p><a href="https://www.facebook.com/esi.bildosola"><i class="fa fa-facebook-square"></i> facebook.com/esi.bildosola</a>
    <p><a href="https://instagram.com/esibildosola"><i class="fa fa-instagram"></i> instagram.com/esibildosola</a>
  </div>
</div>
