<div id="credits" class="slide header">
  <div class="fullscreen-bg">
    <video loop muted autoplay poster="assets/video/IMG_2500.jpg" class="fullscreen-bg__video">
      <source src="assets/video/IMG_2500.ogv" type="video/ogv">
      <source src="assets/video/IMG_2500.MOV" type="video/mp4">
      <source src="assets/video/IMG_2500.m4v" type="video/mp4">
      <source src="assets/video/IMG_2500.webm" type="video/webm">
    </video>
  </div>
  <p class="build-by">Built with love by <a class="with-love" href="http://www.natansantolo.com" target="_blank">Natan Santolo</a><br/> &copy;2016 all rights reserverd</p>
</div>
