<section class="friends">
    <h3>Friends</h3>
    <div class="links">
        <a href="http://www.dancersinthestreets.com" target="_blank">Dancers in the street</a>
        <a href="http://www.olympia-circus.nl" target="_blank">Olympia Circus</a>
        <a href="http://www.pdfamsterdam.com" target="_blank">Pole Dance Factory</a>
        <a href="http://www.spinalchord.com" target="_blank">Spinal Chord</a>
        <a href="https://www.facebook.com/GlamourFotoDesign/timeline" target="_blank">Glamour Foto Design</a>
        <a href="http://pixcel.fr/site" target="_blank">Pixcel.fr</a>
    </div>
</section>