<section class="instagrams">
    <article>
        <header>
            <a class="instagram-logo" href="https://www.instagram.com/pulgacion/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a class="instagram-more" href="https://www.instagram.com/pulgacion/" target="_blank"><strong>@pulgacion</strong></a>
        </header>
        <div class="gallery"></div>
    </article>
</section>
<script>
    {{ $urlPre := "https://api.instagram.com/v1/users/self/media/recent/?count=" }}
    {{ $urlPos := "&access_token=" }}
    {{ $url := (print $urlPre $.Site.Data.instagram.config.size $urlPos $.Site.Data.instagram.config.access_token) $urlPos }}
    var instagrams_source = {{ $url }};
</script>