<head>
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>

  <meta name="author" content="{{ .Site.Author.name }}">
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="keywords" content="{{ .Site.Params.keywords }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="Esi Bildsola">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.esibildosola.com">
  <meta property="og:image" content="http://www.esibildosola.com/assets/images/profile.jpg">
  <meta property="og:site_name" content="{{ .Site.Title }}">
  <meta property="og:description" content="{{ .Site.Params.Description }}">

  <link rel="icon" href="/assets/images/favicon.ico" />

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700|Roboto+Slab:400,700,300,100|Roboto:400,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
