<div id="program" class="slide header">
  <div class="promo-tag-goal">
    <h3>Get amazing results!</h3>
    <h3>Choose your goal</h3>
    <h3>And make it happen</h3>
  </div>
  <ul class="promo-tag-features">
    <li>
      <i class="fa fa-street-view"></i>
      <h4>One on one experience</h4>
      <p>Personal coaching sessions are the fastest way to surface the best version of yourself</p>
    </li>
    <li>
      <i class="fa fa-diamond"></i>
      <h4>Tailored programes</h4>
      <p>Together will define nutrition, fitness, and lifestyle to reach your desired goal</p>
    </li>
    <li>
      <i class="fa fa-globe"></i>
      <h4>Available worldwide</h4>
      <p>It doesn't matter where you are, with online follow-up you can get the most of your progam.</p>
    </li>
  </ul>
</div>
